/* *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container-fluid h1{
    background-color:aqua;
}
body{
    background-color: aqua;
}
.write{
    background-color:black;
} */